<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Slidi</h1>
    <img width="140px" src="assets/images/slidi-logo.png" alt="slidi" class="img-rounded"> 
  </div>
</header>

<div ng-show="isLoggedIn()" class="container">
	<div class="row content-container">
		<div class="col-lg-12" >
			<div class="presentation-block" ng-mouseenter="actionActive = true" 
				ng-mouseleave="actionActive = false" ng-repeat="presentation in presentations track by $index">

				<div ng-class="{highlight: actionActive}" class="action-block action-edit">
					<i class="fa fa-pencil" ng-click="openBuilder(presentation)"></i>
				</div>
				<div ng-class="{highlight: actionActive}" class="action-block action-delete-presentation">
					<i class="fa fa-times" ng-click="delete($index)"></i>
				</div>

				<div class="presentation-title-block">
					<input class="presentation-title" type="text" ng-model="presentation.title">
				</div>
				<div class="presentation-tags-block">
					<div class="presentation-tag-block" ng-mouseenter="tagActive = true" ng-mouseleave="tagActive = false" 
						ng-repeat="tag in presentation.tags track by $index">
						<input class="btn btn-tag presentation-tag" type="text" ng-model="tag">
						<div ng-class="{highlight: tagActive}" class="action-block action-delete-tag">
							<i class="fa fa-times" ng-click="deleteTag(presentation, $index)"></i>
						</div>
						<div class="icon-block">
							<i class="fa fa-tag"></i>
						</div>
					</div>
					<div class="action-add-tag-block">
						<i ng-class="{highlight: actionActive}" class="action-block action-add-tag fa fa-plus-circle" ng-click="addTag(presentation)"></i>
					</div>
				</div>
			</div>
			<div class="presentation-add-block" ng-click="create()">
				<i class="presentation-add-action fa fa-plus-circle" ></i>
			</div>
		</div>
	</div>
</div>
<div ng-hide="isLoggedIn()" class="tag-container container">
	<div class="row">
		<jqcloud words="words" width="600" height="250"></jqcloud>
	</div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
