<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/slidi-logo.png" alt="slidi" class="img-rounded"> 
  </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="presentation-block" ng-repeat="presentation in presentations">

				<div class="block-action action-edit">
					<i class="fa fa-pencil" ng-click="builder(presentation._id)"></i>
				</div>
				<div class="block-action action-close">
					<i class="fa fa-times" ng-click="delete(presentation._id)"></i>
				</div>

				<div class="presentation-title-block">
					<input class="presentation-title" type="text" ng-model="presentation.title">
				</div>
				<div class="presentation-tags-block">
				  <div class="presentation-tag-block" ng-repeat="tag in presentation.tags">
				    <input class="btn btn-tag presentation-tag" type="text"  ng-model="tag">
				  </div>
				  <div class="presentation-tag-block">
				  	<i class="block-action action-add-tag fa fa-plus-circle" ng-click="create()"></i>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
