#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.presentation-block {
    vertical-align: text-top;
    display: inline-block;
    border: solid @main-red 2px;
    border-radius: @default-border-radius;
    width: 20%;
    margin: 10px;
    position: relative;
    .action-block {
        opacity: 0;
    }
    .highlight {
        opacity: 1;
        transition: 0.6s linear all;
    }
}

.action-delete-presentation {
    position: absolute;
    top: 3px;
    right: 5px;
    color: @main-red;
    &:hover {
        color: @main-red-hover;
    }
}

.action-add-tag {
    color: @main-red;
    background-color: white;
    border-color: white;
    font-size: 1.5em;
    vertical-align: middle;
    &:hover {
        color: @main-red-hover;
        background-color: white;
        border-color: white;
    }
}

.action-delete-tag {
    position: absolute;
    top: 6px;
    right: 8px;
    color: #C7C7C7;
    size: 0.1em;
    &:hover {
        color: white;
    }
}

.action-edit {
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: @main-red;
    &:hover {
        color: @main-red-hover;
    }
}

.presentation-title-block {
    padding: 0 20px 0 20px;
}

.presentation-actions {
    position: relative;
    height: 100%;
    
}

.presentation-title {
    border: 0;
    margin-top: 5px;
    width: 100%; 
    text-align: center;
}

.presentation-tags-block {
    padding: 0 5px 0 5px;
    text-align: center;
    .presentation-tag-block {
        position: relative;
        padding: 5px;
        width: 45%;
        display: inline-block;
    }
    .presentation-tag {
        margin: 0;
        padding: 0 0 0 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
    }
}

.tag-highlight { 
    opacity: 1;
}

.btn-tag {
    color: white;
    background-color: @main-blue;
    border-color: @main-blue;
    &:focus {
        color: white;
        background-color: @main-blue-hover;
        border-color: @main-blue-hover - #111;
    }
    &:hover {
        color: white;
        background-color: @main-blue-hover;
        border-color: @main-blue-hover - #111;
    }
}

.presentation-add-block {
    border: solid @main-blue-hover 2px;
    border-radius: @default-border-radius;
    width: 20%;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    background: @main-blue;
    &:hover {
        background: @main-blue-hover;
    }
    .presentation-add-action {
        font-size: 2em;
        color: white;
        background: @main-blue;
        &:hover {
            background: @main-blue-hover;
        }
    }
}