

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.presentation-block {
    border: solid @main-red 2px;
    border-radius: @default-border-radius;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    background: @main-grey;
    padding: 10px 0 10px 0;
    .action-block {
        opacity: 0;
    }
    .highlight {
        opacity: 1;
        transition: 0.6s linear all;
    }
}

.action-delete-presentation {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: @font-size-two;
    color: @main-red;
    &:hover {
        color: @main-red-hover;
    }
}
.action-add-tag-block {
    position: relative;
    width: 30%;
    display: inline-block;
    padding-left: 15%;
    padding-right: 16%;
    .action-add-tag {
        color: @main-blue;
        background: @main-grey;
        border-color: white;
        font-size: @font-size-half;
        vertical-align: middle;
        &:hover {
            color: @main-blue-hover;
            background-color: @main-grey;
            border-color: white;
        }
    }
}

.action-delete-tag {
    position: absolute;
    top: 6px;
    right: 8px;
    color: white;
    size: 0.1em;
}

.action-edit {
    position: absolute;
    bottom: 3px;
    right: 7px;
    color: @main-red;
    font-size: 1.8em;
    &:hover {
        color: @main-red-hover;
    }
}

.presentation-title-block {
    background: @main-grey;
    padding: 0;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .presentation-title {
        background: @main-grey;
        border: 0;
        border-radius: 5px;
        margin-top: 5px;
        width: 100%; 
        text-align: center;
        color: @main-blue-hover;
        font-size: @font-size-half;
        font-weight: 600;
    }
}

.presentation-actions {
    position: relative;
    height: 100%;
    
}

.presentation-tags-block {
    padding: 0;
    margin: 10px auto 10px auto;
    width: 80%;
    .presentation-tag-block {
        position: relative;
        padding: 5px;
        width: 33%;
        display: inline-block;
    }
    .presentation-tag {
        margin: 0;
        padding: 0 15px 0 15px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .icon-block {
        position: absolute;
        color: white;
        top: 7px;
        left: 10px;
    }
}

.tag-highlight { 
    opacity: 1;
}

.btn-tag {
    color: white;
    background-color: @main-blue;
    border-color: @main-blue;
    &:focus {
        color: white;
        background-color: @main-blue-hover;
        border-color: @main-blue-hover - #111;
    }
    &:hover {
        color: white;
        background-color: @main-blue-hover;
        border-color: @main-blue-hover - #111;
    }
}

.presentation-add-block {
    border-radius: @default-border-radius;
    width: 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: white;
    margin-top: 20px;
    .presentation-add-action {
        width: 100%;
        font-size: 3em;
        color: @main-red;
        background: white;
        &:hover {
            color: @main-red-hover;
        }
    }
}

.tag-container {
    margin: 70px auto 70px auto;    
}

.jqcloud {
    margin-left: auto;
    margin-right: auto;
}