@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@main-red: #DF6069;
@main-red-hover: @main-red - #111;
@main-blue: #4393B9;
@main-blue-hover: @main-blue - #111;
@default-border-radius: 7px;
@default-font-size: 1em;
@tag-font-size: 0.7em;
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'builder/builder.less';
@import 'main/main.less';
@import 'presentation/presentation.less';
@import 'modal/modal.less';
// endinjector