html, body {
    height: 100%;
}

.slide-items-block {
	z-index: 1000;
	width: 100%;
	padding: 10px;
	background: @main-blue;
	margin-top: -20px;
	position: absolute;
	.slide-item-block {
		width: 7%;
		display: inline-block;
		margin: 10px;
		border: 2px solid transparent;
		padding: 5px;
		.item-icon {
			color: white;
			text-align: center;
			font-size: 2em;
			.geometric-shapes {
				background: url('http://res.cloudinary.com/vkhrapski/image/upload/v1438765177/icon-geometrical.svg');
				color: white;
			}
		}
		.item-description {
			color: white;
			text-align: center;
		}
		&:hover {
			border: solid white 2px;
		}
	}
}

.content-block {
	position: relative;
	
	.slides-preview-block {
		border-right: solid 5px @main-blue;
		width: 20%;
		top: 163.8px;
		bottom: 0;
		position: fixed;
		overflow: scroll;
		.slide-preview-block {
			position: relative;
			border: solid 2px @main-red;
			height: 150px;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			margin-bottom: 50px;
			.action-block {
				position: absolute;
			}
			.action-close {
				top: 0;
				right: 5px;
				font-size: 1.5em;
				color: @main-blue;
			}
			.action-add-after {
				bottom: -40px;
				right: 45%;font-size: 1.5em;
				font-size: 1.5em;
				color: @main-blue;	
			}
		}
	}

	.slide-block {
		position: fixed;
		padding: 20px;
		left: 20%;
		width: 80%;
		margin-top: 94px;
		height: 100%;
		overflow: scroll;
		.slide-wrapper {
			position: relative;
			margin: auto;
		}
		.slide {
			border: solid @main-red 5px;
			margin: 0 auto;
		}
		.square-format {
			width: 744px;
			height: 558px;
		}
		.rectangle-format {
			width: 896px;
			height: 504px;
		}
	}
}