
<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
	<div class="row">
		<div class="slide-items-block">
	    	<div class="slide-item-block" ng-click="openTextModal()">
				<div class='item-icon'>T</div>
				<div class="item-description">Text</div>
			</div>

			<div class="slide-item-block" ng-click="openPictureModal()">
				<div class='item-icon'>
					<i class="fa fa-picture-o"></i>
				</div>
				<div class="item-description">Picture</div>
			</div>

			<div class="slide-item-block" ng-click="openYoutubeModal()">
				<div class='item-icon'>
					<i class="fa fa-youtube"></i>
				</div>
				<div class="item-description">Video</div>
			</div>
			<div class="slide-item-block" ng-click="addShape()">
				<div class='item-icon'>
					<i class="fa fa-stop"></i>
				</div>
				<div class="item-description">Shape</div>
			</div>
			<div class="slide-item-block" ng-click="changeFormat()">
				<div class='item-icon'>
					<i class="fa fa-television"></i>
				</div>
				<div class="item-description">Format</div>
			</div>
			<div class="slide-item-block" ng-click="save()">
				<div class='item-icon'>
					<i class="fa fa-floppy-o"></i>
				</div>
				<div class="item-description">Save</div>
			</div>
	    </div>
	</div>
	
	<div class="row content-block">
		<div class="slide-block col-xs-10">
			<div class="slide-wrapper" ng-class="presentation.format">
		    	<div class="slide" ng-class="presentation.format">
					<div style="{{textBlock.style}}" ng-repeat="textBlock in currentSlide.text track by $index"
						class = "slide-input-block draggable handle draggable-content" 
					 	ng-mouseenter="activeItem = true"
					 	ng-mouseleave="activeItem = false"
					 	style="position: absolute;" 
		                ng-class="{activetext : activeItem}"
		                ng-click = "click(!$dragged && !$resized, $dropmodel)"
		                dnd-draggable = "true"
		                dnd-resizable = "true"
		                dnd-rect = "textBlock.rect"
		                dnd-fittext = "{ width: textBlock.rect.width, height: textBlock.rect.height }"
		                dnd-model = "currentSlide.content"
		                dnd-containment="slide">
							{{textBlock.content}}
					</div>
					
					<ng-video-preview source="youtube"  url="{{video.content}}" 
						ng-repeat="video in currentSlide.videos track by $index">
					</ng-video-preview>
					
					<div style="{{picture.style}}" ng-repeat="picture in currentSlide.pictures track by $index"
						class = "" 
		                ng-click = "click(!$dragged, $dropmodel)"
		                dnd-draggable = "true"
		                dnd-rect = "picture.rect"
		                dnd-model = "currentSlide.content"
		                dnd-containment="slide">
		                <cl-image public-id="{{picture.content}}" format="jpg" >
						</cl-image>
					</div>
					
		    	</div>	
			   
	    	</div>
	    </div>

	    <div class="slides-preview-block col-xs-2">
			<div class="slide-preview-block" ng-click="setCurrentSlide($index)" ng-repeat="slide in presentation.slides track by $index"
				ng-mouseenter="activeSlide = true" ng-mouseleave="activeSlide = false"
			>
				<div class="slide-index-block">
					{{$index + 1}}
				</div>
				<div class="action-block action-add-slide">
					<i class="fa fa-plus-circle"></i>
				</div>
				<div ng-class="{highlight: activeSlide}" class="action-block action-close">
					<i class="fa fa-times"></i>
				</div>
			</div>
			<div class="default-add-slide-block">
				<div class="default-add-slide">
					<i class="fa fa-plus-circle"></i>
				</div>
			</div>
		</div>

		
	</div>
</div>

<script type="text/ng-template" id="picture-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Picture Repository</h3>
    </div>
    <div class="modal-body">
		<div class="picture-block" ng-repeat="resource in resources"  ng-click="setActive($index)">
			<img src="{{resource.url}}" width="150">
			<i ng-show="$index == active" class="fa fa-check-square"></i>
		</div>
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Select</button>
        <button class="btn btn-primary" ng-click="upload()" ng-model="file" ngf-select ng-file-select>Upload</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="youtube-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Youtube</h3>
    </div>
    <div class="modal-body">
    	URL: <input type="text" ng-model="link">
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="text-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Text</h3>
    </div>
    <div class="modal-body">
    	Insert text: <input type="text" ng-model="text">
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Submit</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>



